Hi #{@book_history.user.name},
\
You have borrowed the book -- #{@book_history.book.title} -- from #{@book_history.book.user_name}.
\
You can pick up the book at the next meeting, and discuss when a good time to return the book will be.
\
Thank you,
\
Dana Nourie
