Hi #{@book_history.user.name},
\
Thank you for returning the book -- #{@book_history.book.title}.
\
Write a review for the book when you get a chance. You can review a book by going to the book page, and clicking review.
\
Thank you!
\
Dana Nourie
