Hi #{@book_history.book.user_name},
\
Your book -- #{@book_history.book.title} -- has been checked out by #{@book_history.user.name}.
\
Please bring it to the next meeting.
\
Thank you,
\
Dana Nourie
