/* Colors */
$logo_blue: #0071bc;
$logo_green: #008000;
$gray_shadow: #B3B3B3;

/* Fonts & Type */
$verdana: helvetica, arial, verdana, freesans, sans-serif;

html, body {
  background-color: #fff;
  color: #333;
  font-family: $verdana;
  font-size: 14px;
  line-height: 18px;
  margin: 0px;
  padding: 10px;
}

/* Header and logo */

div#wrapperHeader div#header img {
 float:left;
 width:748; /* the width of the logo */
 height:140; /* the height of the logo */
 margin-top:10px;
 margin-left:90px;
 margin-bottom: 55px;
  
}

/* Footer settings */

div#wrapperFooter {
  float:center;
  p {
    font-family: $verdana;
    color: $logo_blue;
    font-size: 14px;
    line-height: 18px;
  }
}

/* Text and Lists */

p, ol, ul, td {
  font-family: $verdana;
  font-size: 14px;
  line-height: 18px;
}


ul li {
    font-size: 14px;
    list-style: square;
}

a:link {color: $logo_green; text-decoration: none; }
a:active {color: #0000ff; text-decoration: none; }
a:visited {color: $logo_green; text-decoration: none; }
a:hover {color: $logo_blue; text-decoration: underline; }


/* The Form for Adding Books */

#bookstitle {
    text-align: center;
    font-weight: bold;
    padding: 5px 15px 5px 10px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: $logo_blue;
    color: #fff;
}

/* Add a book icon */

#bookicon > div > img{
    width:100px;
    height:100px;

}

/* Greeting area and links */

div#greeting {
	float: left;
	margin-top:10px;
	margin-left:0;
}



/* Borrow Book Image */

div#bookimage {
	width: 150px;
	height:250px;

}

/* Individual book Show page */

div#bookshow {
text-align: left;
padding: 10px;
margin-left:10;
width:400px;
height:550px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border:8px solid #4B8240;
background:rgba(227,223,211,0.7);
-webkit-box-shadow: 16px 16px 16px $gray_shadow;
-moz-box-shadow: 10px 10px 10px $gray_shadow; 
box-shadow: 10px 10px 10px $gray_shadow;
}

/* Login Form */

div#loginform {
float: none;
text-align: left;
padding-top: 0px;
padding-left: 10px; 
width:300px;
height:350px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border:8px solid $logo_green;
background:rgba(227,223,211,0.7);
-webkit-box-shadow: 16px 16px 16px $gray_shadow;
-moz-box-shadow: 10px 10px 10px $gray_shadow; 
box-shadow: 10px 10px 10px $gray_shadow;
}


#notice {
  color: logo_green;
  font-size: 16px;
}




   