%header#content-header
  %h3
    Reviews for #{link_to(@book.title, @book)}
%ol#reviews
  - @reviews.each do |review|
    %li
      
      %span.user
        by #{review.user.name}
      %span.date
        = time_ago_in_words(review.created_at)
        ago
      %p
        \&quot;#{review.comment}&quot;